<html lang="en">
<head>
    <title>R2L2</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>

    @Scripts.Render("~/bundles/R2L2Presentation")
    @Scripts.Render("~/bundles/Material")
    @Styles.Render("~/Content/css")
</head>
<body ng-app="R2L2Presentation" class="menubar-hoverable header-fixed menubar-first menubar-pin">
    <header id="header">
        <div class="headerbar">
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <div class="brand-holder">
                            <a href="#">
                                <span class="text-lg text-bold text-primary">R2L2</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="headerbar-right">
                <ul class="header-nav header-nav-options">
                    <li>
                        <form class="navbar-search" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" name="headerSearch" placeholder="Adicione uma palavra chave" />
                            </div>
                            <button type="button" class="btn btn-icon-toggle ink-reaction">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <sup class="badge style-danger">0</sup>
                        </a>
                        <ul class="dropdown-menu animation-expand">
                            <li class="dropdown-header">Notificações</li>
                            <li>
                                <a class="alert alert-callout alert-warning" href="javascript:void(0);">
                                    <img class="pull-right img-circle dropdown-avatar" src="" alt/>
                                    <strong>Usuário</strong>
                                    <br />
                                    <small>Vendendo tudo!!</small>
                                </a>
                            </li>
                        </ul>
                    </li> 
                </ul>
            </div>
        </div>
    </header>
    @RenderPage()
</body>
</html>
