<div ng-controller="ClienteController">
    <div class="section-body">
        <div class="col-lg-offset-1 col-md-8">
            <div class="row">
                <div class="btn-group pull-right" style="z-index:5;position:absolute;padding-top:27px;padding-left:94%;">
                    <a class="btn ink-reaction btn-floating-action btn-lg btn-info" href="#offcanvasadd" data-toggle="offcanvas" ng-click="AddCliente()">
                        <i class="md md-insert-drive-file"></i>
                    </a>
                </div>
                <div class="card card-underline">
                    <div class="card-head style-gray-light">
                        <header style="padding-top:21px">
                            <i class="md md-person"></i>
                            Lista de Clientes
                        </header>
                    </div>
                    <div class="card-body">
                        <table id="dataCliente" class="table order-column hover dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>CPF</th>
                                    <th>Nome</th>
                                    <th class="details-control"></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="cliente in clientes">
                                <tr onmouseover="init_table_list(this)" class="grid-toggle">
                                    <td>
                                        {{cliente.Cpf}}
                                    </td>
                                    <td>
                                        {{cliente.Nome}}
                                    </td>
                                    <td>
                                        <button type="button" ng-click="Atualizar(cliente)" id="atualizaClie" href="#offcanvasadd" data-toggle="offcanvas" class="btn ink-reaction btn-floating-action btn-xs btn-primary-light">
                                            <i class="md md-create"></i>
                                        </button>
                                        <button type="button" ng-click="Apagar(cliente)" class="btn ink-reaction btn-floating-action btn-xs btn-danger">
                                            <i class="md md-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="grid-detail">
                                    <td colspan="3">
                                        <div class="card">
                                            <div class="card-body" style="padding-bottom:0;">
                                                <div class="form-group">
                                                    <label for="nome" class="col-sm-2 control-label">Nome</label>
                                                    <div class="col-sm-10">
                                                        <label class="form-control" id="nome">{{cliente.Nome}}</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="cpf" class="col-sm-2 control-label">CPF</label>
                                                            <div class="col-sm-10">
                                                                <label class="form-control" id="cpf">{{cliente.Cpf}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="des" class="col-sm-2 control-label">Desconto</label>
                                                            <div class="col-sm-10">
                                                                <label class="form-control" id="des">{{cliente.Desconto}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Adicionar")
</div>
