<section>
    <div class="section-body">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="alert alert-callout alert-info ink-reaction no-margin" style="background-image:url(../../Content/Images/Misc-User-icon.png);background-color:transparent; background-position:left;background-size:130px;background-repeat:no-repeat;">
                        <a href="@Url.Action("Index","Cliente")">
                            <div class="card-body no-padding">
                                <strong class="text-success text-lg pull-right">
                                    <i class="md md-person" style="vertical-align:sub;"></i>
                                    Cliente
                                </strong>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="alert alert-callout alert-danger ink-reaction no-margin" style="background-image:url(../../Content/Images/Media_Viewer_Icon_-_Tag.svg.png);background-color:transparent; background-position:left;background-size:130px;background-repeat:no-repeat;">
                        <a href="@Url.Action("Index","Produto")">
                            <div class="card-body no-padding">
                                <strong class="text-success text-lg pull-right">
                                    <i class="md md-local-offer" style="vertical-align:sub;"></i>
                                    Produto
                                </strong>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="alert alert-callout alert-warning ink-reaction no-margin" style="background-image:url(../../Content/Images/512.png);background-color:transparent; background-position:left;background-size:80px;background-repeat:no-repeat;">
                        <a href="@Url.Action("Index", "Pedido")">
                            <div class="card-body no-padding">
                                <strong class="text-success text-lg pull-right">
                                    <i class="md md-shopping-cart" style="vertical-align:sub;"></i>
                                    Pedido
                                </strong>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
         @Html.Partial("VendaRapida")
        </div>
    </div>
</section>