<div class="col-md-12">
    <div class="card">
        <div class="card-head">
            <header>
                <i class="md md-shopping-cart"></i>
                Venda Rápida           
            </header>
        </div>
        <div class="card-body height-10">
            
        </div>
    </div>
</div>
