<div class="row">
    <div class="col-lg-offset-1 col-md-8">
        <form class="form">
            <div class="card" ng-show="divProduto">
                <div class="card-head style-primary">
                    <header>{{Action}} Produto</header>
                </div>
                <div class="card-body floating-label">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="codBarras" ng-model="CodigoBarras" />
                                <label for="codBarras">
                                    Código de Barras
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="estq" ng-model="Estoque" />
                                <label for="estq">
                                    Estoque
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="Descricao" class="form-control" id="descr" />
                        <label for="descr">
                            Descrição
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" ng-model="Valor" class="form-control" id="val" />
                                <label for="val">
                                    Valor
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" ng-model="Localizacao" class="form-control" id="local" />
                                <label for="local">
                                    Localização
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-actionbar-row">
                    <button type="button" class="btn ink-reaction btn-raised btn-default-dark" ng-click="Adicionar()">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
