<div ng-controller="ProdutoController">
    <div class="section-body">
        <div class="col-lg-offset-1 col-md-8">
            <div class="row">
                <div class="btn-group pull-right" style="z-index:5;position:absolute;padding-top:27px;padding-left:94%;">
                    <a class="btn ink-reaction btn-floating-action btn-lg btn-info" href="#offcanvasadd" data-toggle="offcanvas" ng-click="AddProduto()">
                        <i class="md md-insert-drive-file"></i>
                    </a>
                </div>
                <div class="card card-underline">
                    <div class="card-head style-gray-light">
                        <header style="padding-top:21px;">
                            <i class="md md-local-offer"></i>
                            Lista de Produtos
                        </header>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable2" class="table order-column hover dataTable no-footer">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" aria-controls="datatable2" rowspan="1" colspan="1">Código de Barras</th>
                                        <th class="sorting" aria-controls="datatable2" rowspan="1" colspan="1">Descrição</th>
                                        <th class="sorting" aria-controls="datatable2" rowspan="1" colspan="1">Valor</th>
                                        <th class="details-control sorting-disable" aria-controls="datatable2" rowspan="1" colspan="1"></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="produto in produtos">
                                    <tr onmouseover="init_table_list(this)" class="grid-toggle">
                                        <td>
                                            {{produto.CodigoBarras}}
                                        </td>
                                        <td>
                                            {{produto.Descricao}}
                                        </td>
                                        <td>
                                            {{produto.Valor}}
                                        </td>
                                        <td>
                                            <button type="button" ng-click="Atualizar(produto)" id="atualizaProd" href="#offcanvasadd" data-toggle="offcanvas" class="btn ink-reaction btn-floating-action btn-xs btn-primary-light">
                                                <i class="md md-create"></i>
                                            </button>
                                            <button type="button" ng-click="Apagar(produto)" class="btn ink-reaction btn-floating-action btn-xs btn-danger">
                                                <i class="md md-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="grid-detail">
                                        <td colspan="6">
                                            <div class="card">
                                                <div class="card-body" style="padding-bottom:0;">
                                                    <div class="form-group">
                                                        <label for="Descricao" class="col-sm-2 control-label">Descrição</label>
                                                        <div class="col-sm-10">
                                                            <label class="form-control" id="Descricao">{{produto.Descricao}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="marca" class="col-sm-2 control-label">Marca</label>
                                                        <div class="col-sm-10">
                                                            <label class="form-control" id="marca">{{produto.Marca}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="estoque" class="col-sm-4 control-label">Estoque</label>
                                                                <div class="col-sm-8">
                                                                    <label class="form-control" id="estoque">{{produto.Estoque}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="estoquemin" class="col-sm-4 control-label">Estoque Mínimo</label>
                                                                <div class="col-sm-8">
                                                                    <label class="form-control" id="estoquemin">{{produto.EstoqueMin}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="valor" class="col-sm-4 control-label">Valor</label>
                                                                <div class="col-sm-8">
                                                                    <label class="form-control" id="valor">{{produto.Valor}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    <tr />
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Adicionar")
</div>
